@{
    ViewBag.Title = "Index";
}

<html>
    <head>
        <title>Add/Delete Button</title>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/knockout-3.5.0.js"></script>
        <script>
            $(function () {
                function apply() {
                    self.sample = ko.observable('aaa');
                    console.log(self.sample());
                }
                
                ko.applyBindings(apply(), $("body")[0]);

                
            });
        </script>
    </head>
    <body>
        <input type="text" id="sample" data-bind="value: sample"/>
        <button id="Add" data-bind="enable: sample().length>5">Add</button>
        <button id="Delete" data-bind="enable: sample().length>10">Delete</button>
    </body>
</html>
